.section_footer {
  display: flex;
}

.footer {
  background-color: $colour_bg_primary;
  color: #242424;
  margin-bottom: 0;
  text-align: center;
}

.footer_title{
  margin-bottom: 24px;
}

.footer_info{
  margin-bottom: 16px;
}