a, a:active, a:visited, {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.clear_link {
  color: inherit;
  text-decoration: none;
  
  &:hover, &:visited, &:active{
    color: inherit;
  }
}

.button{
  $max_font: 24px;
  $min_font: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  background-color: $colour_action_primary;
  border-radius: 4px;
  box-shadow: 3px 3px 1px 1px rgba(67,67,66,0.3);
  color: #FFFFFF;
  display: block;
  margin: 32px 0;
  padding: 16px 24px;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;

  &:hover {
    background-color: $colour_action_secondary;
    box-shadow: 2px 2px 1px 1px rgba(67,67,66,0.3);
    margin: 33px 1px 31px 0px;
  }

  &:active {
    box-shadow: 0px 0px 1px 1px rgba(67,67,66,0.3);
    margin: 34px 0 30px 0px;
    transition: all .05s ease-in-out;
  }

  &:visited {
    color: #FFFFFF;
  }

  @media all and (min-width: 520px) {
    display: inline-block;
    flex-basis: auto;
    padding: 16px 24px;
  }

}

.project_link_img {
  transition: all .4s ease-in-out;
}

.project_link_img:hover {
  filter: saturate(50%);
  opacity: .9;
}


.link_outer {
  background-color: $colour_bg_secondary;
  margin: 0 auto;
  width: 100%;
}

.back_link, .next_link {
  $max_font: 24px;
  $min_font: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  display: flex;
  line-height: 1.25em;
  margin: 0 auto;
  max-width: 800px;
  padding: 16px 24px;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  @media all and (min-width: 520px) {
    padding: 16px 32px;
  }
}

.next_link {
  justify-content: space-between;
}

  .back_arrow {
    align-self: center;
    margin-right: 8px;
    @media all and (min-width: 520px) {
      margin-right: 16px;
    }
  }

  .link_subtitle {
    $max_font: 16px;
    $min_font: 12px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    display: block;
  }

  .forward_arrow{
    align-self: center;
  }