/* ----------- */
/* TYPOGRAPHY */
/* ----------- */
/* Scale
96
60
48  
34
24
20
16
14
12
*/

body {
  $max_font: 24px;
  $min_font: 16px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  color: $colour_text_primary;
}

h1, h2, h3, h4, h5, p {
  line-height: 1.25em;
  margin-top: 0px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.display_one {
  $max_font: 96px;
  $min_font: 48px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  margin-bottom: 32px;  
  margin-top: 0;
  text-align: center;
}

.display_two {
  $max_font: 60px;
  $min_font: 34px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  margin: 0 0 4px;
}

.display_three {
  $min_font: 20px;
  $max_font: 34px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  margin: 0 0 4px;
}


.featured {
  $max_font: 24px;
  $min_font: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1.4em;
  margin:0 0 16px;
}

.project_role {
  $max_font: 20px;
  $min_font: 16px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  color: #8a8a8a;
  margin-bottom: 32px;
  margin: 0 0 8px;
}

.article_body {
  $max_font: 20px;
  $min_font: 16px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1.8em;
  margin-bottom: 32px;
}

.caption {
  $max_font: 16px;
  $min_font: 12px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  color: #8a8a8a;
  display: block;
  margin-top: 4px;
}

